h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.children {
  margin-left: 20px;
}
.folderContainer {
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
  padding: 5px;
  margin: 6px;
  cursor: pointer
}
.fileContainer {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 6px;
}
.fileName {
  display: block;
}
.hide {
  display: none;
}
.buttonsContainer {
  display: flex;
  gap: 5px;
}
.buttonsContainer button {
  cursor: pointer;
}